<template>
	<v-container class="ma-0 pa-0" grid-list-sm>
		<v-subheader>All Blogs</v-subheader>
		<v-layout wrap>
			<blog-item-component
				v-for="blog in blogs"
				:key="'blog-' + blog.id"
				:blog="blog"
			></blog-item-component>
		</v-layout>
		<v-pagination
			v-model="page"
			@input="go"
			:length="lengthPage"
			:total-visible="perPage"
		></v-pagination>

		<v-btn
              fab
              color="success"
              bottom
              right
              absolute
			@click="dialog =!dialog"
            >
              <v-icon>mdi-plus</v-icon>
        </v-btn>

		<v-dialog
          v-model="dialog"
          max-width="500px"
        >
            <v-card>
			<v-card-title class="justify-center">
				<h2>Tambah Blog</h2>
			</v-card-title >
            <v-card-text>
              <v-text-field label="Title" v-model="form.title"></v-text-field>
            </v-card-text>
			<v-card-text>
              <v-text-field label="Description" v-model="form.description"></v-text-field>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                text
                color="primary"
                @click="submit()"
              >
                Submit
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

	</v-container>
</template>

<script>
import { mapActions } from 'vuex'
import BlogItemComponent from "../components/BlogItemComponent.vue";

export default {

	data() {
    return{
			apiDomain: "https://demo-api-vue.sanbercloud.com",
			blogs: [],
			page: 0,
			lengthPage: 0,
			perPage: 0,	
			dialog: false,
			form : {
				title : null,
				description : null
			},
			nameToken: JSON.parse(localStorage.getItem('sanbercode'))
    };
	},
  
	components: {
		"blog-item-component": BlogItemComponent,
	},
  
	methods: {

		...mapActions({
            setAlert : 'alert/set',
        }),

		go() {
			const config = {
				method: "get",
				url: this.apiDomain + "/api/v2/blog?page=" + this.page,
			};

			this.axios(config)
				.then(response => {
					let { blogs } = response.data;
					this.blogs = blogs.data;
					this.page = blogs.current_page;
					this.lengthPage = blogs.last_page;
					this.perPage = blogs.per_page;
				})
				.catch(error => {
					console.log(error);
				});
		},
		submit(){
			this.dialog = false
			let formData = new FormData()
            formData.append('title', this.form.title)
            formData.append('description', this.form.description)

            const config = {
                method: 'post',
                url: this.apiDomain + '/api/v2/blog',
                data: formData,
				headers : {
					Authorization : `Bearer ${this.nameToken.auth.token}`,
					Accept: 'application/json',
				},
            }

            this.axios(config)
                .then((response) => {
                console.log(response.data)
				this.$router.go('/')
				this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'Tambah Post berhasil',
                })
            })
                .catch((error) => {
				console.log(response.data)
				this.$router.go('/')
				this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'Tambah Post berhasil',
                })
            })
		}
	},
	created() {
		this.go();
	},
};
</script>