<template>
	<v-container>
		<v-card v-if="blog.id">
		<v-img
			:src="
				blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
			<v-card-title
				class="fill-height align-end"
				v-text="blog.title"
			></v-card-title>
		</v-img>
		<v-btn
              fab
              color="warning" 
              style="margin-left:75%; margin-top:-50px"
			@click="dialogEdit = !dialogEdit"
            >
              <v-icon>mdi-pencil</v-icon>
        </v-btn>
		<v-btn
              fab
              color="primary" 
              style="margin-left:83%; margin-top:-95px"
			@click="uploadfoto"
            >
              <v-icon>mdi-image-edit</v-icon>
        </v-btn>
		<v-btn
              fab
              color="error" 
              style="margin-left:90%; margin-top:-140px"
			@click="hapus(blog.id)"
            >
              <v-icon>mdi-delete</v-icon>
        </v-btn>
		
		<v-card-text>
			<v-simple-table dense>
				<tbody>
					<tr>
						<td><v-icon>mdi-format-title</v-icon> Judul</td>
						<td class="blue--text">{{ blog.title }}</td>
					</tr>
					<tr>
						<td><v-icon>mdi-note</v-icon> Deskripsi</td>
						<td>{{ blog.description }}</td>
					</tr>
				</tbody>
			</v-simple-table>
		</v-card-text>

		<v-dialog
          v-model="dialogEdit"
          max-width="500px"
        >
          <v-card>
			<v-card-title class="justify-center">
				<h2>Edit Blog</h2>
			</v-card-title >
            <v-card-text>
              <v-text-field label="Title" v-model="form.title"></v-text-field>
            </v-card-text>
			<v-card-text>
              <v-text-field label="Description" v-model="form.description"></v-text-field>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                text
                color="primary"
                @click="edit(blog.id)"
              >
                Submit
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
	</v-card>
	</v-container>
</template>



<script>
import { mapActions } from 'vuex'

export default {
    data() {
        return{
        blog: {},
		dialogEdit: false,
		photo: null,
		apiDomain: "https://demo-api-vue.sanbercloud.com",
		nameToken: JSON.parse(localStorage.getItem('sanbercode')),
		form : {
			title : null,
			description : null 
			}
        };
	},
    
    methods: {

		...mapActions({
            setAlert : 'alert/set',
        }),

		go() {
			let { id } = this.$route.params;
            
            const config ={
             method : 'get',
             url : `${this.apiDomain}/api/v2/blog/${id}`
             }

			this.axios(config)
				.then(response => {
					let { blog } = response.data;
					console.log(blog.photo);
                    this.blog = blog;
					this.form.title = blog.title
					this.form.description = blog.description
				})

				.catch(error => {
                    
					console.log(error);
				});
		},
		hapus(id){
			this.dialog = true

            const config = {
            method  : "post",
            url : `${this.apiDomain}/api/v2/blog/${id}?_method=DELETE`,
            params : { _method : "DELETE" },
			headers : {
				Authorization : `Bearer ${this.nameToken.auth.token}`,
			},

        }

        this.axios(config)
            .then( (response) => {
                alert(response.data.message)
				this.$router.push('/blogs')
            })
            .catch( (error) => {
              console.log(error)
            })

          console.log(id)
		},
		edit(id){
			this.dialogEdit = false

			let formData = new FormData()
            formData.append('title' , this.form.title)
            formData.append('description' , this.form.description)

            let config = {
				method : "post",
				url : `${this.apiDomain}/api/v2/blog/${id}?_method=PUT`,
				data : formData,
				headers : {
					Authorization : `Bearer ${this.nameToken.auth.token}`,
					Accept: 'application/json',
				},
            }

            this.axios(config)
              .then( (response) => {
				console.log(response.data)
				this.$router.go('/')
				this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Edit Post berhasil',
                })
              })
              .catch( (error) => {
                console.log(error)
				this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Edit Post gagal'
                    })
                console.log(error)
              })
		}
	},
	uploadfoto(id) {
      let formData = new FormData();
      formData.append("photo", this.photo);

      const config = {
        method: "put",
        url: this.apiDomain + `/api/v2/auth/blog/${id}/upload-photo`,
        data: formData,
        headers: {
          Authorization: "Bearer " + this.token,
        },
      };
      this.axios(config)
        .then((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "success",
            text: "Upload Foto Berhasil",
          });
          this.login(this.email, this.password);
          this.close();
        })
        .catch((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "error",
            text: "Upload Foto Gagal",
          });
        });
    },
	created() {
		this.go();
	},
};
</script>

<style></style>