<template>
      <v-card>
        <v-toolbar dark>
           <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        <v-card-title class="justify-center">
          Register
        </v-card-title>
        </v-toolbar>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="name"
                  label="Name"
                  required
                  clearable
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="email"
                  label="Email"
                  type="email"
                  required
                  clearable
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="password"
                  label="Password"
                  type="password"
                  required
                  clearable
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="repeatpass"
                  label="Repeat Password"
                  type="password"
                  required
                  clearable
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-file-input
                    v-model="photo_profile"
                    show-size
                    label="Select Profile Image"
                    accept="image/*"
                >
                </v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="submit"
          >
            Register
          </v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data () {
        return {
            name : '',
            email : '',
            password : '',
            repeatpass : '',
            photo_profile : undefined,
            apiDomain : 'http://demo-api-vue.sanbercloud.com'
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),
        close(){
            this.name = ''
            this.email = ''
            this.password = ''
            this.repeatpass = ''
            this.$emit('closed', false)
        },
        submit(){
          if(this.password == this.repeatpass){
            let formdata = new FormData()
            formdata.append('name', this.name)
            formdata.append('email', this.email)
            formdata.append('password', this.password)
            formdata.append('photo_profile', this.photo_profile)
            const config = {
                method : 'post',
                url : this.apiDomain + "/api/v2/auth/register",
                data : formdata
            }
            this.axios(config)
                .then(() => {
                    this.setAlert({
                        status : true,
                        color : 'primary',
                        text : 'Register Berhasil!'
                    })
                    this.close()
                })
                .catch((response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Gagal Melakukan Register : ' + response.data
                    })
                })
          }
          else {
            this.setAlert({
              status : true,
              color : 'error',
              text : 'Repeat Password tidak sesuai dengan password!'
            })
            this.password = ''
            this.repeatpass = ''
          }
        }
    }
}
</script>